@{
    ViewBag.Title = "Home Page";
}
<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>

<div class="border">
    <h3>this is database</h3>
    <pre id="db"></pre>
</div>
<input type="text" name="txtinput" value="ok" id="txtinput" />

<script src="~/Scripts/app.js"></script>