@{
    ViewBag.Title = "Home Page";
}
<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>

<div class="contents">
    <div class="border">
        <h3>this is database</h3>
        <div id="db"></div>
    </div>
    <input type="text" name="txtinput" value="ok" id="txtinput" />
</div>

<script src="~/Scripts/app.js"></script>